<h1>Portlands Best Restaurants</h1>

<h4><a href="/cuisines/all">View Cuisines</a></h4>
<h4><a href = "/restaurants">View Restaurants</a></h4>
<br>
<br>
<br>
<h4><a href="/cuisines/new">Add Cuisines</a></h4>
<h4><a href = "/restaurants/new">Add Restaurantss</a></h4>
