<h1>Restaurant Detail</h1>
<h2>@Model.GetName()</h2>
<h3>Cuisine:  @Model.GetCuisine()</h3>
<h3>Phone Number:  @Model.GetPhoneNumber()</h3>
<a href="/restaurants/edit/@Model.GetId()">Edit Restaurant</a>
